.calc{
    margin: 0 auto;
    width: 260px;
    height: 310px; 
    padding: 10px;
    background-color: black; 
    border-radius: 20px;
}
.tablo{
    color: #fff;
    background-color: black;
    outline:none;
}

.out, .tablo { 
     
    width: 200px;
    box-sizing: border-box;
    height: 35px;
    font-size: 30px;
    border: none;
}

.calc__menu {
    margin-top: 15px;
}
.calc__row {
    display: flex;
    justify-content: center;
    align-content: space-between;
}

.btn,.btn_dub, .bigbutton, .btn_op, .bigbuttonend {
    cursor: pointer;
    width: 25%;
    height: 44px;
    color: #fff;
    background-color: #696969;
    border: 1px solid #dadada;
    transition: .3s;
    font-weight: 700;
    font-size: 20px;
    outline: none;
}
.btn:hover,.btn_dub:hover,.bigbutton:hover,.btn_op:hover, .bigbuttonend:hover{
    opacity: .9;
}
.bigbuttonend,.btn__zero{
    width: 50%;
}

.btn_op{
    background: #FFA500;
}
